.body {
    margin: 0 auto;
    max-width: 80vw;
    max-height: 100%;
   


    &__content {
        
        display: grid;
        
        align-items: center;
        grid-template-columns: auto;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        position: relative;
      

        &__row{
            
          
            
            &__window{
                height: 70vh;
                margin-bottom: 1%;
                display: block;
                border: 2px solid black;
                &.active {
                    display: block;
                }
            }
        }
    }
}

