.body {
    margin: 0 auto;
   
  


    &__content {
        
        display: grid;
     
        align-items: center;
        grid-template-columns: auto;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        position: relative;
      

        &__row{
            background-color: darkcyan;
            display: flex;
            flex-direction: column;
          padding: 1% 1%;
            
            &__window{
                border: 1px solid black;
                padding-left: 5%;
                padding-top: 10%;
                border-radius: 5%;
               height: 70vh;
                margin-top: 5%;
               
                display: block;
             
                &.active {
                    display: block;
                }
            }
        }
    }
}

