.resume__body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    width: 100%; /* Ширина блока resume__body */
    margin: 0 auto;
    background-color: rgb(206, 210, 213);
    &__education {
      
        h2{ font-size: 26px;
            text-align: center;
               width: 80%;
            letter-spacing: .18em;
            border-bottom: 2px solid rgb(7, 7, 7);
        }
        display: flex;
      
        flex-direction: column;
        align-items: center;
        padding: 0% 3%;
        font-size: 20px;
        color: black;
        font-weight: 600;
       
        &__list{
          &__span{
            span{
              text-align: center;
              font-size: 18;
            }
           
          }
         li{
          list-style: none;
         }
          width: 80%;
            border-radius: 25px;
            border: 2px solid black;
            background-color: white;
           &__item{
            width: 100%;
            
            margin: 0 auto;
           }
        }
    }
    &__skills{
       
        padding: 1% 3%;
        width: 90%;
      &__name{
        letter-spacing: .18em;
        border-bottom: 2px solid rgb(8, 8, 8);
        text-align: center;
        margin-bottom: 3%;
        color: black;
      }
       
    }
    &__skills__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(175px, 1fr)); /* Адаптивные колонки с шириной 150px */
      gap: 20px; /* Промежуток между элементами */
      padding: 0;
      list-style: none;
      justify-content: center;
     
      
      li {
        border: 2px solid rgb(0, 0, 0);
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f0f0f0;
        padding: 5px;
        text-align: center;
        border-radius: 10px;
        transition: all 0.3s ease; /* Плавная анимация при наведении */
  
        &:hover {
            box-shadow: 2px 3px 72px -20px rgb(8, 8, 9);
          transform: scale(1.05); /* Увеличение размера при наведении */
          font-size: 1em; /* Увеличение шрифта при наведении */
          background-color: #d3d3d3;
        }
      }
    }
  }
  
 
@media (max-width: 600px) {
  .resume__body__education__list li {
    opacity: 0;
  }
 
}