.header {
    padding: 2%;
    margin: 0 auto;
    &__row {
      display: flex;
      justify-content: center;
      align-items: center;
  
      &__navigation {
        padding: 1rem;
    
        background: rgba(255, 255, 255, 0.42);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.5px);
        -webkit-backdrop-filter: blur(6.5px);
        border: 1px solid rgba(255, 255, 255, 0.24);
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 0.5rem;
  
          li {
            a {
              text-decoration: none;
              text-transform: none;
              display: block;
              padding: 0.5rem; /* Добавление отступов внутри ссылок */
              border-radius: 5px; /* Создание скругленных углов */
              transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
  
              &:hover {
                background-color: rgba(0, 0, 0, 0.1); /* Изменение цвета фона при наведении */
              }
            }
          }
        }
      }
    }
  }