.header {
 margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    &__body{
      display: flex;
      justify-content: center;
      align-items: center;

      &.dark{
        background-color: burlywood;
      }
      &.light{
        background-color: darkgray;
      }
      
      height: 100vh;
      position: relative;
      color: white;
      &__sliderDown{
        
        scroll-behavior: smooth;
        right: 50%;
        bottom: 10%;
        position: absolute;
        z-index: 1;
      }
    }
    &__row {
      transition: opacity .6s;
      opacity: .6;
      border-radius: 10px;
      
      margin-top: 1%;
      z-index: 2;
      background: rgba(38, 79, 120, 0.735);
      position: fixed;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5.5px);
      -webkit-backdrop-filter: blur(6.5px);
      // border: 1px solid rgba(255, 255, 255, 0.24);
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      &__navigation {
        color: white;
        padding: 1rem;
        &__item{

          &__link{
            cursor: pointer;
            scroll-behavior: smooth;
            text-decoration: none;
            text-transform: none;
            display: block;
            padding: 0.5rem; /* Добавление отступов внутри ссылок */
            border-radius: 5px; /* Создание скругленных углов */
            transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
            color: inherit;
            &:hover {
              text-decoration: underline;
              background-color: rgba(0, 0, 0, 0.1); /* Изменение цвета фона при наведении */
            }

          }
        }
       
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 0.5rem;
  
          li {
            
            a {
             
            }
          }
        }
      }
    }
  }