@import './styles/variables';
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}
.app {
  width: 100%;
  
  &.light-theme {
    background-color: darkgray;
    color: #070707;
    
  }
  
  &.dark-theme {
    background-color: $MainColor2;
    color: #ffffff;
    
  }

 .scrollToTop{
  position: fixed;
  left: 5%;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 30px;
  height: 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  
  cursor: pointer;
  
  z-index: 2;
    svg{
      background-color: red;
      border-radius: 80%;
    }
    svg:hover{
      background-color: transparent;
    }
 }

  .body{


  }

  .footer{
   margin: 0 auto;
    width: 100%;
   
   

    border: 2px solid black;
  }
}

