

.contactUS{
    border-radius: 25px;
  background-color: white;
    padding: 3% 2%;
    display: flex;  
    flex-direction: column;
   justify-content: center;
   align-items: center;
    max-width: 600px;
    max-height: 600px;
    
       border: 2px solid black;

       &__left{
        max-width: 100%;
        
       }
       &__title{
        text-decoration: underline;
        font-weight: 600;
        margin-bottom: 5%;
       }
       &__complete{
        color: white;
        background-color: deepskyblue;
        padding: 1%;
        border: 1% solid black;
    }
    &__btn{
        font-weight: 600;
        color: white;
        background-color: cornflowerblue;
        border: 2px solid rgb(255, 25, 0);
        margin-top: 2%;
        width: 25%;
        height: 25px;
    }
       label{
        display: flex;
        justify-content: center;
        align-items: center;
       width: 100%;
        margin-bottom: 1%;
       span{
        margin-right: 2%;
       }
        input{
           width: 80%;
           margin-bottom: 1%;
           padding: 1%;
            border: 1px solid black;
        }
       }
    
   
}