


.contacts {



    form {
      
        width: 25%;
        display: flex;
        flex-direction: column;
        label{
            padding: 2px 3px;
            margin-bottom: .5deg;
        }
    }
}

.contactUS{
    padding: 1% 2%;
    margin-left: 2%;
    width: 40%;
    display: flex;  
        flex-direction: column;
       border: 2px solid black;
       label{
        margin-bottom: 2%;
       span{
        margin-right: 2%;
       }
        input{
           
            padding: 1%;
            border: 1px solid black;
        }
       }
    form {
       
    }
   
}